<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>resultsheet</title>
    <style>
       
        table{
            background-color: aliceblue;
            border: 1px solid black;
            width: 1830px;
        }
        th,tr,td{
            border: 1px solid black;
        }
        .pagination{
            display: flex;
            justify-content: center;
            gap: 1px;  
        }
        button{
            height: 40px;
            width: 50px;
            border-radius: 10px;
            font-size: 18px;
            background-color: rosybrown;
            
        }
     
        
    </style>
</head>
<body>
    <table>
            <thead>
            <th colspan="13" style="font-size: 28px;">Result details</th>
            </thead>
            
        
        
            <tr>
            <th rowspan="2"><a href="/resultdetailstask/resultdetails/?sort=stu_id">Studnet ID</a></th>
            <th rowspan="2"><a href="/resultdetailstask/resultdetails/?sort=firstname">First name</a></th>
            <th rowspan="2"><a href="/resultdetailstask/resultdetails/?sort=lastname">Last name</a></th>
            <th colspan="2">Terminal Exam</th>
            <th colspan="2">Prelim Exam</th>
            <th colspan="2">Final Exam</th>
            <th rowspan="2">Total Morks</th>
            <th rowspan="2">Obtained Marks</th>
            <th rowspan="2">Percentage</th>
            <th rowspan="2">View Details</th>
            </tr>

            <tr>
                <th><a href="/resultdetailstask/resultdetails/?sort=terminal_practical">Practical Marks</a></th>
                <th><a href="/resultdetailstask/resultdetails/?sort=theory_practical">Theory Marks</a></th>
                <th><a href="/resultdetailstask/resultdetails/?sort=prelim_practical">Practical Marks</a></th>
                <th><a href="/resultdetailstask/resultdetails/?sort=prelim_theory">Theory Marks</a></th>
                <th><a href="/resultdetailstask/resultdetails/?sort=final_practical">Practical Marks</a></th>
                <th><a href="/resultdetailstask/resultdetails/?sort=final_theory">Theory Marks</a></th>   
            </tr>
        
        <tbody>
           <% for(let i=0;i<data.length;i++){ %>

            <tr>
                <td><%= data[i].stu_id %></td>
                <td><%= data[i].firstname %></td>
                <td><%= data[i].lastname %></td>
                <td><%= data[i].terminal_practical %></td>
                <td><%= data[i].theory_practical %></td>
                <td><%= data[i].prelim_practical %></td>
                <td><%= data[i].prelim_theory %></td>
                <td><%= data[i].final_practical %></td>
                <td><%= data[i].final_theory %></td>
                <td>1200</td>
                <td><%= data[i].terminal_practical+data[i].theory_practical+data[i].prelim_practical+data[i].prelim_theory+data[i].final_practical+data[i].final_theory %></td>
                <td><%= ((data[i].terminal_practical+data[i].theory_practical+data[i].prelim_practical+data[i].prelim_theory+data[i].final_practical+data[i].final_theory)*100/1200).toFixed(2) %> %</td>
                <td><a href="/resultview/viewdetails?id=<%= data[i].stu_id %>">View details</a></td>

                
            </tr>
            
           <% } %>

           <tr>

            <div class="pagination">
                
                <% if(pagenumber==1) { %>
                <div class="first">
                <a href="/resultdetailstask/resultdetails?id=home">
                   <button disabled><<</button>
                </a>
                </div>

                <div class="second">
                <a href="/resultdetailstask/resultdetails?id=prev">
                    <button disabled><</button>
                </a>
                </div>

                <% }else{ %>
                    
                    <div class="first">
                <a href="/resultdetailstask/resultdetails?id=home&rescounter=<%= rescounter%>&pagenumber= <%= pagenumber %>">
                    <button><<</button>
                </a>
                </div>

                <div class="second">
                <a href="/resultdetailstask/resultdetails?id=prev&rescounter=<%= rescounter %>&pagenumber=<%= pagenumber %>">
                    <button><</button>
                </a>
                </div>

                <% } %>    

                <div class="number">
                <button><%= pagenumber %></button>
                </div>

                <% if(pagenumber==4) { %>

                <div class="third">
                <a href="/resultdetailstask/resultdetails?id=next">
                    <button disabled>></button>
                </a>
                </div>

                <div class="fourth">
                <a href="/resultdetails?id=end">
                    <button disabled>>></button>
                </a>
                </div>

                <% }else{ %>

                <div class="third">
                <a href="/resultdetailstask/resultdetails?id=next&rescounter=<%= rescounter %>&pagenumber=<%= pagenumber %>">
                    <button>></button>
                </a>
                </div>

                <div class="fourth">
                <a href="/resultdetailstask/resultdetails?id=end&rescounter=<%= rescounter %>&pagenumber=<%= pagenumber %>">
                    <button>>></button>
                </a>
                </div>
                
                <% } %>
                
                
            </div>
           </tr>



        </tbody>
    </table>
</body>
</html>